.movie-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 2rem;
}

.movie-info_poster {
    width: 80%;
    justify-self: left;
    border-radius: 0.3rem;
}

.movie-info_title {
    font-size: 1.5rem;
    color: #de1100;
    font-weight: 600;
}

.movie-info_info li:not(:last-child) {
    padding-bottom: 1rem;
}

.movie-info_info h3, .movie-info_director p, .movie-info_release_date p {
    display: inline-block;
}

.movie-info_info h3{
    padding-right: 0.1rem;
    font-weight: 600;
}

@media screen and (min-width: 762px){
    .movie-info {
        grid-template-columns: 1fr 2fr;
    }
}
