#search-form {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  background: #DE1100;
}

.search-form_input {
    width: 80%;
}

@media screen and (min-width: 762px){
    .search-form_input {
        width: 90%;
    }
}
