body, input, button {
  font-family: 'Cabin', sans-serif;
  color: #3C3C3C;
}

a {
  color: #DE1100;
}

input {
  padding: 0.2rem;
  border: 0;
  border-radius: 0.2rem;
  outline: 0;
}

button {
  background: #ffffff;
  color: #DE1100;
  border: 0.1rem solid #DE1100;
  font-weight: 600;
  border-radius: 0.2rem;
  padding: 0.2rem 1rem 0.2rem 1rem;
}