.navigator {
  box-shadow: -1px 9px 14px -12px rgba(0, 0, 0, 0.75);

  ul {
    padding: 0.5rem;
    padding-bottom: 0.8em;
  }

  li {
    display: inline-block;
    margin-right: 0.8rem;
    transition: all 0.2s ease-in;

    &:hover {
      transform: scale(1.1);
    }
  }

  a {
    text-decoration: none;
  }

  .selected {
    font-weight: 600;
    text-decoration: none;
  }
}
